.header-area {
  padding: 30px 0;
}
.title {
  font-size: 50px;
  color: hsla(280, 100%, 50%, 0.568);
}
.description {
  color: #000000;
  margin: 20px 0;
}

.header-area {
  text-align: center;
  border: 2px solid hsl(196, 100%, 40%);
  background-color: hsla(161, 68%, 48%, 0.445);
  margin-bottom: 30px;
}

.budget-amount {
  color: blue;
}
